*{
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
}
.alert-info{
    margin: 10px;
    padding: 15px;
    text-align: center;
    border: 1px solid lightgrey;
    background-color: #ccffff;
}
div > a{
    color: black;
    text-decoration: none;
}
h1 {
    text-align: center;
    padding-bottom: 10px;
}
.nav-links li{
    text-align: center;
    list-style: none;
}
li {
    border: 1px solid lightgrey;
    background-color: lightgrey;
    margin: 10px;
    padding: 15px;
}
.header-img img {
    margin: 0 auto;
    width: 339px;
    height: 224px;
}
h2 {
    padding-bottom: 10px;
}
.main {
    margin: 10px;
}
.sub-section {
    font-style: italic;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
footer {
    margin-top: 50px;
    padding: 20px;
    position: absolute;
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    * {
        box-sizing: border-box;
    }

    body {
        /*width: 100%;*/
        margin: 2em;
    }
    body h1 {
        float: left;
    }
    body nav {
        float: right;
    }
    body .nav-links {
        margin-right: 20px;
    }
    body .nav-links li {
        display: inline;
        border: none;
        background-color: white;
    }
    body .hidden-on-desktop {
        display: none;
    }
    .header-img img {
        clear: both;
        margin-top: 30px;
        width: 100%;
        height: 385px;
    }
    .header-img {
        width: 100%;
    }
    #main {
        float: left;
        width: calc(70% - 4em);
    }
    .sub-section {
        float: right;
        width: calc(30% - 4em);
    }
    footer {
        float: left;
        margin-top: 200px;
    }
}


